body {
    text-align: center;


}
.head{
    background-color:#37c3ee;
	width:100%;
    color:white;


}
hr{
border:2px solid white;
}
.udacity-text {
            color: #fff;
            text-decoration-line: underline;
            text-transform: uppercase;
            font-family: Helvetica, Arial, sans-serif;
            font-size:40px;
            text-align: center;
        }
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
	width:auto;
	height:50px;
	border-radius:4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	cursor:pointer;
}
h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;

}

h2 {
    margin: 1em 0 0.25em;
	text-transform:underline;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#sizePicker{
border-radius:20px;
}
